<a href="https://colab.research.google.com/github/Hamzaaleem230/Python-Assigment-1to4/blob/main/Assigment_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Assignment 04**



---



# *List Methods Pracrise*


---

Tasks:

1. Create and Modify Lists

* Create a list called fruits with the items: "apple", "banana", "orange"
* Add "grape" to the end of the list using an appropriate
method

* Insert "mango" at position 2 in the list
* Remove "banana" from the list

* Print the final list

In [ ]:
# Task 1: Create a modify list

fruits = ["apple", "banana", "orange"]
fruits.append("grape")
fruits.insert(2, "mango")
fruits.remove("banana")
print("Final fruits list: ", fruits)

Final fruits list:  ['apple', 'mango', 'orange', 'grape']

2. List Operations


* Create a list numbers with values: 10, 20, 30, 40, 50
* Create a second list more_numbers with values: 60, 70, 80

* Combine both lists into a new list called all_numbers
* Make a copy of all_numbers called numbers_copy

* Reverse the order of numbers_copy
* Print both all_numbers and numbers_copy

In [ ]:
# Task 2: List operations

numbers = [10, 20, 30, 40, 50]
more_numbers = [60, 70, 80]
all_numbers = numbers + more_numbers
numbers_copy = all_numbers.copy()
numbers_copy.reverse()
print("All Numbers: ", all_numbers)
print("Reversed Number: ", numbers_copy)

Ascending order:  [10, 20, 30, 40, 50, 60, 70, 80]
Descending order:  [80, 70, 60, 50, 40, 30, 20, 10]

3. Sorting and Counting


* Create a list scores with these values: 85, 92, 78, 65, 92, 85, 74
* Sort the list in ascending order

* Sort the list in descending order
* Count how many times 92 appears in the list

* Find and print the highest and lowest scores
* Print the sorted list

In [ ]:
# Task 3: Sorting and Counting

scores = [85, 92, 78, 65, 92, 85, 74]
ascending_scores = sorted(scores)
descending_scores = sorted(scores, reverse=True)
count_92 = scores.count(92)
highest_score = max(scores)
lowest_score = min(scores)
print("Ascending Scores: ", ascending_scores)
print("Descending Scores: ", descending_scores)
print("Count of 92: ", count_92)
print("Highest Scores: ", highest_score)
print("Lowest Scores: ", lowest_score)

Ascending Scores:  [65, 74, 78, 85, 85, 92, 92]
Descending Scores:  [92, 92, 85, 85, 78, 74, 65]
Count of 92:  2
Highest Scores:  92
Lowest Scores:  65

4.  List Manipulation

* Create a list letters with values: "a", "b", "c", "d", "e"
* Use slicing to create a new list with only the first three letters

* Use slicing to create another list with only the last two letters
* Find and print the index of "c" in the list

* Replace "d" with "z" in the original list
* Print the modified list

In [ ]:
# Task 4: List Manipulation

letters = ["a", "b", "c", "d", "e"]
first_three_letters = letters[:3]
last_two_letters = letters[-2:]
index_of_c = letters.index("c")
letters[3] = "z"
modified_list = letters
print("First three letters: ", first_three_letters)
print("Last two letters: ", last_two_letters)
print("Index of c: ", index_of_c)
print("Modified list: ", modified_list)

First three letters:  ['a', 'b', 'c']
Last two letters:  ['d', 'e']
Index of c:  2
Modified list:  ['a', 'b', 'c', 'z', 'e']



---

# *Dictionary Methods Practice*


---

Tasks:

1. Create and Access Dictionaries

* Create a dictionary called student with these key-value pairs:
       "name": "John"
       "age": 20
       "grade": "A"
       "courses": ["Math", "Science", "History"]

* Print the student's name


* Print the list of courses
* Add a new key-value pair: "email": "john@example.com"


* Print the entire dictionary

In [ ]:
# Task 1: Create and Access Dictionaries

student = {
    "name": "Hamza",
    "age": 20,
    "grade": "A",
    "courses": ["Math", "Science", "History"]
}
print("Student Name: ", student["name"])
print("Courses: ", student["courses"])
student["email"] = "abcd1234@gamil.com"
print("Updated Dictionary: ", student)

Student Name:  Hamza
Courses:  ['Math', 'Science', 'History']
Updated Dictionary:  {'name': 'Hamza', 'age': 20, 'grade': 'A', 'courses': ['Math', 'Science', 'History'], 'email': 'abcd1234@gamil.com'}

2. Modify Dictionary Values


* Change the student's age to 21
* Add a new course "Computer Science" to the courses list


* Update the grade to "A+"
* Print the modified dictionary

In [ ]:
# Existing student dictionary from task 1

student = {
    "name": "Hamza",
    "age": 20,
    "grade": "A",
    "courses": ["Math", "Science", "History"]
}

print("Student Name: ", student["name"])
print("Courses: ", student["courses"])
student["email"] = "abcd1234@gamil.com"
print("Updated Dictionary: ", student)

# Task 2: Modify Dictionary Values

student["age"] = "21"
student["courses"].append("Computer Science")
student["grade"] = "A+"
modified_dictionary = student
print("Modified Dictionary: ", modified_dictionary )

Student Name:  Hamza
Courses:  ['Math', 'Science', 'History']
Updated Dictionary:  {'name': 'Hamza', 'age': 20, 'grade': 'A', 'courses': ['Math', 'Science', 'History'], 'email': 'abcd1234@gamil.com'}
Modified Dictionary:  {'name': 'Hamza', 'age': '21', 'grade': 'A+', 'courses': ['Math', 'Science', 'History', 'Computer Science'], 'email': 'abcd1234@gamil.com'}

3. Dictionary Operations


* Create a second dictionary student_address with these key-value pairs:
        "street": "123 College Ave"
        "city": "New York"
        "zip": "10001"
        

* Combine both dictionaries into a new dictionary called student_info
* Remove the "zip" key from student_info

* Check if "phone" exists in the dictionary
* Print the final dictionary

In [ ]:
# Existing student dictionary from task 2

student= {
    "name": "Hamza",
    "age": "21",
    "grade": "A+",
    "courses": ["Math", "Science", "History", "Computer Science"],
    "email": "abcd1234@gamil.com"
}

# Task 3: Dictionary Operations

student_address = {
    "street": "123 Street",
    "city": "Karachi",
    "zip": "10020"
}

student_info = {**student, ** student_address}
student_info.pop("zip", None)
phone_exists = "phone" in student_info
print("Student Information: ", student_info)
print("Does 'phone' exist in inforamation?: ", phone_exists)

Student Information:  {'name': 'Hamza', 'age': '21', 'grade': 'A+', 'courses': ['Math', 'Science', 'History', 'Computer Science'], 'email': 'abcd1234@gamil.com', 'street': '123 Street', 'city': 'Karachi'}
Does 'phone' exist in inforamation?:  False

4. Dictionary Methods  


* Create a dictionary word_count with these key-value pairs:
         "hello": 5
         "world": 10
         "python": 15


* Get all keys and print them as a list
* Get all values and print them as a list


* Get all key-value pairs and print them
* Make a copy of the dictionary


* Clear the original dictionary
* Print both dictionaries to verify one is empty and one is a copy

In [ ]:
# Task 4: Dictionary Methods

word_count = {
    "hello": 5,
    "world": 10,
    "python": 15
}

keys = list(word_count.keys())
print("Keys: ", keys)
values = list(word_count.values())
print("Values: ", values)
items = list(word_count.items())
print("Key-value pairs: ", items)
word_count_copy = word_count.copy()
word_count.clear()
print("Orignal dictionary after clear: ", word_count)
print("Copied dictionary remains unchanged: ", word_count_copy)

Keys:  ['hello', 'world', 'python']
Values:  [5, 10, 15]
Key-value pairs:  [('hello', 5), ('world', 10), ('python', 15)]
Orignal dictionary after clear:  {}
Copied dictionary remains unchanged:  {'hello': 5, 'world': 10, 'python': 15}



---
# *Shopping Discount Calculator*



---

Tasks:

1. Set up the initial variables:


* purchase_amount: The total cost of items in the shopping cart
* is_loyalty_member: Boolean (True/False) indicating if the customer is a
loyalty member


* day_of_week: A string with the current day (e.g., "Monday", "Tuesday", etc.)
* is_holiday_season: Boolean indicating if it's currently a holiday shopping
season

In [ ]:
# Task 1: Set up the initial variables

purchase_amount = 100
is_loyalty_member = True
day_of_week = "Monday"
is_holiday_season = False

print("Purchase Amount: ", purchase_amount)
print("Is Loyalty Member: ", is_loyalty_member)
print("Day of week: ", day_of_week)
print("Is Holiday Season: ", is_holiday_season)

Purchase Amount:  100
Is Loyalty Member:  True
Day of week:  Monday
Is Holiday Season:  False

2. Apply discount rules using if statements:


* If purchase amount is greater than $100, apply a 10% discount
* If purchase amount is greater than $50 (but less than or equal to $100),
apply a 5% discount

* If the customer is a loyalty member, apply an additional 5% discount
* If it's a weekend (Saturday or Sunday), apply an additional 2% discount

* If it's a holiday season, apply an additional 8% discount

In [ ]:
# Data
purchase_amount = 120
is_loyalty_member = True
day_of_week = "Saturday"
is_holiday_season = True
original_amount = purchase_amount
total_discount = 0.0

# Task 2: Apply discount rules using if statements
if purchase_amount > 100:
    discount = purchase_amount * 0.10
    print("10% discount for purchase over $100 apply kiya gaya: $", round(discount, 2))
    total_discount += discount
elif purchase_amount > 50:
    discount = purchase_amount * 0.05
    print("5% discount apply kiya gaya: $", round(discount, 2))
    total_discount += discount

if is_loyalty_member:
    loyalty_discount = purchase_amount * 0.05
    print("5% loyalty member discount apply kiya gaya: $", round(loyalty_discount, 2))
    total_discount += loyalty_discount

if day_of_week == "Saturday" or day_of_week == "Sunday":
    weekend_discount = purchase_amount * 0.02
    print("2% weekend discount apply kiya gaya: $", round(weekend_discount, 2))
    total_discount += weekend_discount

if is_holiday_season:
    holiday_discount = purchase_amount * 0.08
    print("8% holiday season discount apply kiya gaya: $", round(holiday_discount, 2))
    total_discount += holiday_discount

# Final price
final_price = purchase_amount - total_discount

# Output
print("\nOriginal Purchase Amount: $", round(original_amount, 2))
print("Total Discounts Apply hue: $", round(total_discount, 2))
print("Final Price Discounts ke baad: $", round(final_price, 2))

10% discount for purchase over $100 apply kiya gaya: $ 12.0
5% loyalty member discount apply kiya gaya: $ 6.0
2% weekend discount apply kiya gaya: $ 2.4
8% holiday season discount apply kiya gaya: $ 9.6

Original Purchase Amount: $ 120
Total Discounts Apply hue: $ 30.0
Final Price Discounts ke baad: $ 90.0

3. Calculate and display:

* The original purchase amount

* Each discount that was applied and its amount

* The final price after all discounts

In [ ]:
# Task 3: Calculate and display
original_price = float(input("Enter the original purchase amount: "))

# Step 2: Define Discounts (in percentages)
discounts = [10, 5]  # You can add more discounts here

# Step 3: Apply Discounts One by One
price_after_discounts = original_price
print(f"\nOriginal Price: ${original_price:.2f}")

for i, discount in enumerate(discounts, start=1):
    discount_amount = price_after_discounts * (discount / 100)
    price_after_discounts -= discount_amount
    print(f"Discount {i}: {discount}% = ${discount_amount:.2f}")

# Step 4: Final Price
print(f"\nFinal Price after all discounts: ${price_after_discounts:.2f}")

Enter the original purchase amount: 100

Original Price: $100.00
Discount 1: 10% = $10.00
Discount 2: 5% = $4.50

Final Price after all discounts: $85.50



---

# *For Loop Assignment - Number Patterns*


---


Pattern 1: Counting Numbers

* Print numbers from 1 to 10 on a single line.

In [ ]:
# Pattern 1: Counting Numbers
for i in range(1, 11):
    print(i, end=" ")

1 2 3 4 5 6 7 8 9 10

Pattern 2: Multiplication Table

* Create a multiplication table for the number 5 (from 1 to 10).

In [ ]:
# Pattern 2: Multiplication Table
print("Table of 5: ")
for i in range(1, 11):
  print(f"5 x {i} = {5 * i}")

Table of 5:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50



---

# *While Loop Assignment - Interactive Game*


---

Write a Python program that:


1. Sets a "secret number" (you can choose any number between 1 and 50)
2. Asks the player to guess the number

3. Tells the player if their guess is too high or too low
4.  Keeps asking until the player guesses correctly

5. Keeps track of how many guesses it took

In [ ]:
# Interactive Game
secret_number = 25
guess = None
guess_count = 0

print("Welcome to the Secret Number Guessing Game!")
print("I have chosen a number between 1 to 50. Try to guess it.")

while guess != secret_number:
    guess = int(input("Enter your guess: "))
    guess_count += 1

    if guess < secret_number:
        print("Too low! Try again.")
    elif guess > secret_number:
        print("Too high! Try again.")
    else:
        print(f"Congratulations! You guessed the number {secret_number} in {guess_count} guesses.")

Welcome to the Secret Number Guessing Game!
I have chosen a number between 1 to 50. Try to guess it.
Enter your guess: 32
Too high! Try again.
Enter your guess: 10
Too low! Try again.
Enter your guess: 23
Too low! Try again.
Enter your guess: 24
Too low! Try again.
Enter your guess: 25
Congratulations! You guessed the number 25 in 5 guesses.



---

# *Student Grade Management System*


---

Create a Python program that does the following:


1. Create a list to store information about students
2. Each student should be represented as a dictionary with the following keys:
          o name: The student's full name
          o id: A unique student ID number
          o grades: Another dictionary containing course names as keys and grades as values


3. Your program should:
          o Add at least 3 students to the list
          o Add grades for at least 3 courses for each student
          o Display all students with their grades
          o Calculate and display the average grade for each student
          o Find and display the student with the highest average grade
          o List all students with an average grade above 80
          o Calculate and display the average grade for a specific course
          o Add a new student to the system

In [ ]:
# Grade Management System

# Step 1: Create a list to store student data
students = [
    {
        "name": "Hamza Syed",
        "id": 1770,
        "grades": {
            "English": 93,
            "Mathematics": 71,
            "Computer Science": 75
        }
    },
    {
        "name": "Ahmed Raza",
        "id": 1880,
        "grades": {
            "English": 86,
            "Mathematics": 69,
            "Computer Science": 53
        }
    },
    {
        "name": "Abdullah",
        "id": 1990,
        "grades": {
            "English": 67,
            "Mathematics": 63,
            "Computer Science": 59
        }
    },
]

# Step 2: Display all students with their grades

print("\nAll Students and Their Grades:")
for student in students:
  print(f"Name: {student['name']}, ID: {student['id']}, Grades: {student['grades']}")

# Step 3: Calculate and display average grade for each student

print("\nAverage Grade for Each Student:")
for student in students:
  grades = student["grades"].values()
  avg = sum(grades) / len(grades)
  print(f"{student['name']} - Average Grade: {round(avg, 2)}")

# Step 4: Find the student with the highest average grade

top_student = None
highest_avg = 0
for student in students:
  grades = student["grades"].values()
  avg = sum(grades) / len(grades)
  if avg > highest_avg:
    highest_avg = avg
    top_student = student

print(f"\nTop Student: {top_student['name']} with Average Grade: {round(highest_avg, 2)}")

# Step 5: List students with average grade above 80

print("\nStudents with Average Grade Above 80:")
for student in students:
  grades = student["grades"].values()
  avg = sum(grades) / len(grades)
  if avg > 80:
    print(f"{student['name']} - Average Grade: {round(avg, 2)}")

# Step 6: Show each student's grade for a specific course (e.g., English)

course_name = "English"
print(f"\nGrades for Course: {course_name}")
found = False
total = 0
count = 0
for student in students:
  if course_name in student["grades"]:
    grade = student["grades"][course_name]
    print(f"{student['name']} - {course_name} Grade: {grade}")
    total += grade
    count += 1
    found = True

if found:
  course_avg = total / count
  print(f"\nAverage Grade for {course_name}: {round(course_avg, 2)}")
else:
  print(f"\nNo data found for course: {course_name}")

# Step 7: Add a new student to the system

new_student = {
    "name": "Areeb Shaikh",
    "id": 1980,
    "grades": {
        "English": 54,
        "Mathematics": 65,
        "Computer Science": 72
    }
}
students.append(new_student)
print(f"\nNew student {new_student['name']} added successfully!")
for student in students:
  print(f"Name: {student['name']}, ID: {student['id']}, Grades: {student['grades']}")

# Final display of all student data

print("\nUpdated Student List:")
for student in students:
  print(f"Name: {student['name']}, ID: {student['id']}, Grades: {student['grades']}")

All Students and Their Grades:
Name: Hamza Syed, ID: 1770, Grades: {'English': 93, 'Mathematics': 71, 'Computer Science': 75}
Name: Ahmed Raza, ID: 1880, Grades: {'English': 86, 'Mathematics': 69, 'Computer Science': 53}
Name: Abdullah, ID: 1990, Grades: {'English': 67, 'Mathematics': 63, 'Computer Science': 59}

Average Grade for Each Student:
Hamza Syed - Average Grade: 79.67
Ahmed Raza - Average Grade: 69.33
Abdullah - Average Grade: 63.0

Top Student: Hamza Syed with Average Grade: 79.67

Students with Average Grade Above 80:

Grades for Course: English
Hamza Syed - English Grade: 93
Ahmed Raza - English Grade: 86
Abdullah - English Grade: 67

Average Grade for English: 82.0

New student Areeb Shaikh added successfully!
Name: Hamza Syed, ID: 1770, Grades: {'English': 93, 'Mathematics': 71, 'Computer Science': 75}
Name: Ahmed Raza, ID: 1880, Grades: {'English': 86, 'Mathematics': 69, 'Computer Science': 53}
Name: Abdullah, ID: 1990, Grades: {'English': 67, 'Mathematics': 63, 'Computer Science': 59}
Name: Areeb Shaikh, ID: 1980, Grades: {'English': 54, 'Mathematics': 65, 'Computer Science': 72}

Updated Student List:
Name: Hamza Syed, ID: 1770, Grades: {'English': 93, 'Mathematics': 71, 'Computer Science': 75}
Name: Ahmed Raza, ID: 1880, Grades: {'English': 86, 'Mathematics': 69, 'Computer Science': 53}
Name: Abdullah, ID: 1990, Grades: {'English': 67, 'Mathematics': 63, 'Computer Science': 59}
Name: Areeb Shaikh, ID: 1980, Grades: {'English': 54, 'Mathematics': 65, 'Computer Science': 72}