<a href="https://colab.research.google.com/github/Hamzaaleem230/Python-Assigment-1/blob/main/Class_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

* **Basic List Operations**

1. Create a list of five numbers and append a new number to it. Print the updated list.

In [ ]:
numbers = [10, 20, 30, 40, 50]
numbers.append(60)
print("Updated List:", numbers)

Updated List: [10, 20, 30, 40, 50, 60]

2. Extend a list [1, 2, 3] with another list [4, 5, 6]. Print the result.

In [ ]:
list1 = [1, 2, 3]
list1.extend([4, 5, 6])
print("Extended List:", list1)

Extended List: [1, 2, 3, 4, 5, 6]

3. Insert the string "Python" at index 2 in the list ["Java", "C++", "JavaScript", "Ruby"].

In [ ]:
languages = ["Java", "C++", "JavaScript", "Ruby"]
languages.insert(2, "Python")
print("Modified Languages List:", languages)

Modified Languages List: ['Java', 'C++', 'Python', 'JavaScript', 'Ruby']

4. Remove the first occurrence of the number 10 from the list [10, 20, 30, 10, 40].

In [ ]:
numList = [10, 20, 30, 10, 40]
numList.remove(10)
print("List after removing first occurrence of 10:", numList)

List after removing first occurrence of 10: [20, 30, 10, 40]

5. Use the pop() method to remove the last element from [100, 200, 300, 400] and print the modified list.

In [ ]:
numbers2 = [100, 200, 300, 400]
numbers2.pop()
print("List after popping last element:", numbers2)

List after popping last element: [100, 200, 300]

* **Intermediate List Operations**

6. Count how many times the number 5 appears in the list [5, 10, 5, 20, 5, 30].

In [ ]:
countList = [5, 10, 5, 20, 5, 30]
print("Count of 5:", countList.count(5))

Count of 5: 3

7. Sort the list [9, 1, 8, 3, 5] in ascending and descending order.

In [ ]:
sortList = [9, 1, 8, 3, 5]
sortListAscending = sorted(sortList)
sortListDescending = sorted(sortList, reverse=True)
print("Ascending Order:", sortListAscending)
print("Descending Order:", sortListDescending)

Ascending Order: [1, 3, 5, 8, 9]
Descending Order: [9, 8, 5, 3, 1]

8. Reverse the list ["apple", "banana", "cherry"] using the reverse() method.

In [ ]:
fruits = ["apple", "banana", "cherry"]
fruits.reverse()
print("Reversed List:", fruits)

Reversed List: ['cherry', 'banana', 'apple']

9. Create a copy of the list [1, 2, 3, 4, 5] and store it in another variable. Modify the copied list and print both lists.

In [ ]:
originalList = [1, 2, 3, 4, 5]
copiedList = originalList.copy()
copiedList.append(6)
print("Original List:", originalList)
print("Copied and Modified List:", copiedList)

Original List: [1, 2, 3, 4, 5]
Copied and Modified List: [1, 2, 3, 4, 5, 6]

10. Clear all elements from a list ["hello", "world", "python"] using the clear( ) method.

In [ ]:
words = ["hello", "world", "python"]
words.clear()
print("Cleared List:", words)

Cleared List: []

* **Tuple-Based Questions**

11. Create a tuple with 5 different fruits and print the third fruit.

In [ ]:
fruitsTuple = ("apple", "banana", "cherry", "mango", "orange")
print("Third fruit:", fruitsTuple[2])

Third fruit: cherry

12. Convert the tuple (10, 20, 30, 40, 50) into a list, remove the number 30, and convert it back into a tuple.

In [ ]:
numbersTuple = (10, 20, 30, 40, 50)
numbersList = list(numbersTuple)
numbersList.remove(30)
numbersTuple = tuple(numbersList)
print("Modified Tuple:", numbersTuple)

Modified Tuple: (10, 20, 40, 50)

13. Try to append an element to the tuple ("A", "B", "C"). What happens? How can you modify a tuple indirectly?

In [ ]:
tupleExample = ("A", "B", "C")

tupleList = list(tupleExample)
tupleList.append("D")
tupleExample = tuple(tupleList)
print("Modified Tuple:", tupleExample)

Modified Tuple: ('A', 'B', 'C', 'D')

14. Unpack the tuple (100, 200, 300) into three separate variables and print them.

In [ ]:
tupleUnpack = (100, 200, 300)
a, b, c = tupleUnpack
print("Unpacked Values:", a, b, c)

Unpacked Values: 100 200 300

15.  Count the occurrences of 7 in the tuple (7, 1, 7, 3, 7, 5).

In [ ]:
tupleCount = (7, 1, 7, 3, 7, 5)
print("Occurrences of 7:", tupleCount.count(7))

Occurrences of 7: 3

* **Advanced Problems**

16. Write a function that takes a list and returns a new list with all even numbers removed.

In [ ]:
def removeEven(lst):
    return [x for x in lst if x % 2 != 0]
print("List without evens:", removeEven([1, 2, 3, 4, 5, 6]))

List without evens: [1, 3, 5]

17. Create a function that accepts a list and returns a new list with elements sorted in descending order without using sort().

In [ ]:
def sortDesc(lst):
    return sorted(lst, reverse=True)
print("Descending Order:", sortDesc([3, 1, 4, 1, 5, 9]))

Descending Order: [9, 5, 4, 3, 1, 1]

18.  Given a list of numbers, remove all duplicate elements and print the unique elements.

In [ ]:
def removeDuplicates(lst):
    return list(set(lst))
print("Unique Elements:", removeDuplicates([1, 2, 2, 3, 4, 4, 5]))

Unique Elements: [1, 2, 3, 4, 5]

19. Convert a tuple of names into a list, remove duplicates, and convert it back to a tuple.

In [ ]:
namesTuple = ("Hamza", "Fahad", "Anas", "Ahmad", "Abdullah")
namesList = list(set(namesTuple))
namesTuple = tuple(namesList)
print("Modified Names Tuple:", namesTuple)

Modified Names Tuple: ('Anas', 'Hamza', 'Abdullah', 'Ahmad', 'Fahad')

20. Separate a list of mixed data types into integers, strings, and floats.

In [ ]:
def separateTypes(mixed_list):
    ints = [x for x in mixed_list if isinstance(x, int)]
    strs = [x for x in mixed_list if isinstance(x, str)]
    floats = [x for x in mixed_list if isinstance(x, float)]
    return ints, strs, floats

mixedData = [1, "hello", 3.5, 2, "world", 4.2, 5, "Python"]
ints, strs, floats = separateTypes(mixedData)
print("Integers:", ints)
print("Strings:", strs)
print("Floats:", floats)

Integers: [1, 2, 5]
Strings: ['hello', 'world', 'Python']
Floats: [3.5, 4.2]